<p>
  add-car works!
</p>
<h1 class="pageheader">Add Project Form</h1>

<form  #myForm='ngForm' (ngSubmit)='submitCar()'>
  
<div class="form-group col-md-4">
  <label>Car Model*</label>
  <input type="text" class="form-control"  id="carmodel" name="carmodel"  minlength="2" maxlength="20" placeholder="Enter Car Model"  [(ngModel)]='car.model'  required #model="ngModel">
</div>

<div class="form-group col-md-4">
  <label>YearsOfUse*</label>
  <input type="number" class="form-control" id="years" name="years"  placeholder="Enter Years of use"  [(ngModel)]='car.yearsOfUse' required #yearsOfUse="ngModel">
</div>
   
 
 
<div class="form-group col-md-4">
  <label>Color*</label>
  <select class="form-control" id="color" name="color"  [(ngModel)]='car.color' #color="ngModel" required>
    <option value="Blue">Blue</option>
     <option value="Black">Black</option>
      <option value="White">White</option>
      <option value="Red">Red</option>
  </select>
 </div>


<div class="form-group col-md-4">
  <label>Price*</label>
  <input type="text" class="form-control" id="price" name="price"   minlength="0" maxlength="10"   placeholder="Enter Price" [(ngModel)]='car.price' required #price="ngModel">

</div>
 
<div class="form-group ">
 <button type="submit" class="btn btn-success center-block">Submit</button>
</div>
 
<div  ng-show = "addded==true" >

  <a [routerLink]="['/']"  > Back </a>
</div>

</form>
